.grid > div {
  height: 550px;
  text-align: center;
  margin-top: 3rem;  
  border-radius: 20px;
  border: 1px solid #000;
}


.header, 
.footer {  
  background: transparent;
  border-color: #000;
}

body {
  border: 1px solid #000;
}
